html, body, #root {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(135deg, #a0c4ff, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
}
